body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.compname {
   display: flex;
   padding: 10px;
   justify-content: space-between;
}

.size {
    display: flex;
    padding: 10px;
}

.price {
    display: flex;
    padding: 10px;
}

label {
    margin: 10px;
}